.underlined {
  cursor: pointer;
}

.underlined:hover {
  text-decoration: underline;
  cursor: pointer;
}

.container {
  padding: 50px;
}

table,
th,
td {
  border: 1px solid #e5e5e5;
}

th {
  color: #333 !important;
  font-weight: bold !important;
}

table {
  border-collapse: collapse;
}
